.boat-data{
  display: flex;
  flex-direction: row;
}

.boat {
    margin-right: 20px;
    font-size: 20px;
    line-height: 4px;
    font-weight: 400;
    margin-top: 25px;
    color: rgb(35, 38, 42);
    margin-bottom: 3rem;
}