.listing {
    font-family:sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-align: left;
    padding-top: 10rem;
}

.card-div {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title.card-title {
    color: red;
    text-align: left;
}

p.sub-text {
    color:#626465;
    text-align: start;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.text-grp.card-text{
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color:#626465;
}

.cards:hover {
    box-shadow: 0px 3px 0px 0px #d6dde2;
}